---
import Buttons from "@/components/Buttons.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Leenaiden Web">
  <div class="grid grid-rows-2 gap-36">
    <div class="flex justify-center items-center mt-12">
      <div
        class="bg-white dark:bg-black dark:border-stone-900 p-2 br rounded-full shadow-2xl border-slate-200 border-2"
      >
        <img class="rounded-full w-52" src="/leenaiden.png" alt="" />
      </div>
    </div>

    <div><Buttons /></div>
  </div>
</Layout>
