---
import Button from "./Button.astro";
import Instagram from "./Icons/Instagram.astro";
import Onlyfans from "./Icons/Onlyfans.astro";
import Twitch from "./Icons/Twitch.astro";
import Twitter from "./Icons/Twitter.astro";
---

<div class="mx-auto grid gap-4 md:max-w-xl">
  <Button link="https://www.instagram.com/leenaiden/" description="Instagram de leenaiden">
    <Instagram />
    Instagram
  </Button>
  <Button link="https://onlyfans.com/leenaiden" description="Onlyfans de leenaiden">
    <Onlyfans />
    Onlyfans
  </Button>
  <Button link="https://twitter.com/xLeenaiden" description="Twitter de leenaiden">
    <Twitter />
    Twitter
  </Button>

  <Button link="https://www.twitch.tv/leenaiden" description="Twitch de leenaiden">
    <Twitch />
    Twitch
  </Button>
</div>
