---
import Button from "./Button.astro";
import Instagram from "./Icons/Instagram.astro";
import Onlyfans from "./Icons/Onlyfans.astro";
import Twitch from "./Icons/Twitch.astro";
import Twitter from "./Icons/Twitter.astro";
---

<div class="grid gap-4 mx-auto md:max-w-xl">
  <Button link="https://www.instagram.com/leenaiden/">
    <Instagram />
    Instagram
  </Button>
  <Button link="https://onlyfans.com/leenaiden">
    <Onlyfans />
    Onlyfans
  </Button>
  <Button link="https://twitter.com/xLeenaiden" >
    <Twitter />
    Twitter
  </Button>

  <Button link="https://www.twitch.tv/leenaiden">
    <Twitch />
    Twitch
  </Button>
</div>
