---
export interface Props {
  title: string;
}
import '@fontsource/Paprika';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/gato.webp"/>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Leenaiden web: La pagina donde encontras todo lo que necesitas de leenaiden">

    <title>{title}</title>
  </head>
  <body class="h-auto min-h-screen p-4 pt-0 font-Paprika md:pt-4">
    <div class="container mx-auto">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    background: rgb(242, 215, 217);
    background: linear-gradient(
      180deg,
      rgba(242, 215, 217, 1) 0%,
      rgba(211, 206, 223, 1) 33%,
      rgba(156, 180, 204, 1) 69%,
      rgba(116, 141, 166, 1) 100%
    );
  }

  @media (prefers-color-scheme: dark) {
    body {
      --tw-bg-opacity: 1;
      background: rgb(32, 32, 64);
      background: linear-gradient(
        180deg,
        rgba(32, 32, 64, 1) 0%,
        rgba(32, 32, 96, 1) 35%,
        rgba(96, 32, 128, 1) 74%,
        rgba(176, 48, 176, 1) 100%
      );
    }
  }
</style>
